<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/logo.png" />

    <script
      src="https://cdn.ethers.io/lib/ethers-5.7.1.umd.min.js"
      type="application/javascript"
    ></script>
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <link href="/styles.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    />

    <title>ChainEmployee</title>
  </head>

  <body>
    <header>
      <div class="container">
        <a href="/api/v1/post/taskList">
          <h1>ChainEmployee</h1>
        </a>

        <nav>
          <div>
            <form action="/api/v1/auth/logout" method="GET">
              <span><%= user.email %></span>
              <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                  <a href="/api/v1/user/todos" class="nav-button">Todo List</a>
                  <a href="/api/v1/chat/" class="nav-button">Team Chat</a>
                  <a href="/api/v1/post/taskList" class="nav-button"
                    >Daily Tasks</a
                  >
                  <a href="/api/v1/project/" class="nav-button">Projects</a>
                  <% if (user.isAdmin) { %>
                  <a href="/api/v1/project/deployedProjects" class="nav-button"
                    >Deployed Projects</a
                  >
                  <a href="/api/v1/employee/" class="nav-button">Employees</a>
                  <a href="/api/v1/employee/create" class="nav-button"
                    >Create Employee</a
                  >
                  <% } %>
                </div>
              </div>

              <button type="submit">Log out</button>
            </form>
          </div>
        </nav>
      </div>
    </header>

    <div class="pages">
      <div class="home">
        <div class="workouts">
          <form
            class="search-form"
            action="/api/v1/task/taskSearch"
            method="POST"
          >
            <input
              type="text"
              placeholder="Search by Project Name"
              name="search"
            />
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>

          <% if (projects.length !== 0) { %> <% for (let i = projects.length -
          1; i >=0; i--) { %>
          <div class="workout-details">
            <a
              href="/api/v1/post/projectTasks?projectName=<%= encodeURIComponent(projects[i].projectName)  %>"
            >
              <h4><%= projects[i].projectName %></h4>
            </a>

            <p>
              <strong>Deadline: </strong><%= new
              Date(projects[i].deadline).toLocaleDateString() %>
            </p>

            <form class="deploy-form">
              <% if (user.isAdmin) { %>
              <button class="deploy-button">Deploy</button>
              <%}%>
            </form>
          </div>
          <% } %> <% } else { %>
          <h2>No result for your search: <%=searchParameter%></h2>
          <% } %>
        </div>

        <% if (user.isAdmin) { %>
        <form
          class="create"
          id="taskForm"
          action="/api/v1/project/create"
          method="POST"
        >
          <h3>Add New Project</h3>
          <label>Project Name:</label>
          <input type="text" name="projectName" /><br />
          <label>Deadline:</label>
          <input type="date" id="deadline" name="deadline" required />
          <br />

          <div class="loading-spinner" id="loadingSpinner"></div>

          <button type="submit" id="submitButton">Submit</button>
        </form>
        <% } %>
      </div>
    </div>
    <script src="/projectRegistryAbi.js" type="application/javascript"></script>
    <script>
      function showLoadingSpinner() {
        loadingSpinner.style.display = "block";
      }

      function hideLoadingSpinner() {
        loadingSpinner.style.display = "none";
      }
      const contract_address =
        "<%= process.env.PROJECT_REGISTRY_CONTRACT_ADRESS%>";
      async function deployProject(projectName) {
        const project = projectName;
        const loadingSpinner = document.getElementById("loadingSpinner");
        event.preventDefault();

        showLoadingSpinner();
        try {
          console.log("test1");
          await ethereum.request({ method: "eth_requestAccounts" });
          const provider = new ethers.providers.Web3Provider(window.ethereum);
          const signer = provider.getSigner();
          console.log("test1");
          console.log(contract_address);

          const contractInstance = new ethers.Contract(
            contract_address,
            abi,
            signer
          );
          console.log("test2");

          const transaction = await contractInstance.deployProject(project);
          console.log("test3");

          await transaction.wait();

          console.log("test4");
        } catch (error) {
          console.log(error);
        } finally {
          hideLoadingSpinner();

          //window.location.reload();

          await fetch("/api/v1/project/deploy", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              projectName: projectName,
            }),
          });

          window.location.href = "/api/v1/project/deployedProjects";
        }
      }

      var deployButtons = document.querySelectorAll(".deploy-button");

      deployButtons.forEach(function (button) {
        button.addEventListener("click", function () {
          var projectName = button
            .closest(".workout-details")
            .querySelector("h4")
            .innerText.trim();
          deployProject(projectName);
        });
      });
    </script>
  </body>
</html>
